<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Areas of use</h2>
                    <h3 class="section-subheading text-muted">The mission of the motioncortex technology is to change and improve human life experience in different spheres of being.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-running fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Wellness and Sports</h4>
                    <p class="text-muted">A way of automatic control of exercises execution correctness and providing AI-expert coaching by making advice on how to follow target moveset more accurately.<br>Analyzing videos created by trainers and fitness experts, the motioncortex AI learns the right and effective moves and provides the execution correctness control fully automatically without the needs of any hardcoded handcrafted rules.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Knowledge Distillation and Transfer</h4>
                    <p class="text-muted">The motion knowledge distillation, transfer, and consumption platform, which creates new possibilities to share experience with other applicants of the community.<br>By using the computer-vision application on smartphones to capture movements and motioncortex technology to analyze data, the platform turn extracted knowledge into a motion model and share it with other application users.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shield-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Security and Authentication</h4>
                    <p class="text-muted">Due to complete comparability of extracted motion models from different persons, the motioncortex technology very natively applicable in the security and authentication sphere.</p>
                </div>
                <div id="others-special" class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-ellipsis-h fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Others</h4>
                    <p id="others-text-special" class="text-muted">Areas of use also include the transfer of movesets from a specific person to the movies or games character models, the creation of AI-empowered artificial body parts, and exoskeletons.</p>
                </div>
            </div>
        </div>
    </section>